@charset "ISO-8859-1";
body {
 background-image: url("../images/home_bg.jpg");
 background-size: cover;
 color:white; 
}
form{
	color:#ADD8E6;
	font-size:20px;
	line-height: 30px;
}
a{
	color:#ADD8E6;
}