
    #userform {
    border: 1px solid #0066A2;
    width: 50%;
    margin: 0 auto;
    position: relative;
    top: 15%;
    }
    
    .alignCenter{
    display: flex;
    justify-content: center;
    }
    
    #submitBtn
      { background:#0066A2;
         color:white;
         border-style:outset;
         border-color:#0066A2;
         height:50px;
         width:100px;
         font:bold15px arial,sans-serif;
         text-shadow:none;}
    
     table, th, td {
         text-align:center;
            }
    
     th, td {
            font-size: 20px;;
            padding: 15px;
            background-color:none;
             }
    
     #preview{
        font-size: 20px;
        font-weight: bold;
        
         }

    .errorColor{
        color: red;
        font-size: 15px;
    }
    